

.Homecontainer{
   
    width: 100%;
    
}
.pagetop{
    display: flex;
    flex: 2;
    background-color: rgb(4, 62, 77);
    height: 120px;
    align-items: center;
   

}
.av1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 550px;
    margin-bottom: 10px;
}

.rightbarfollowingimage1{
    width: 250px;
    height: 40px;
    
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}
.rightbarfollowingname1{
    font-size: 12px;
    font-weight: 500;
    color: white;
}
.rightbarfollowingname{
    font-size: 16px;
    font-weight: 800;
    color: white;
}


.pagetopmag{
    display: flex;
    flex-direction: row;
    background-color:rgb(3, 23, 59);
    height: 100px; 
    align-items: center;
}
.av2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 500px;
}
.rightbarfollowingname2{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.rightbarfollowingname3{
    font-size: 12px;
    font-weight: 500;
    color: rgb(99, 99, 192);
    
}
.rightbarfollowingname4{
    font-size: 12px;
    font-weight: 500;
    color: rgb(43, 43, 116);
    margin-top: 5px;
    
}
.rightbarfollowingname9{
    font-size: 12px;
    font-weight: 500;
    color: rgb(43, 43, 116);
    margin-top: 2px;
    
}

.pagemiddle{
    display: flex;
    flex: 6;
    background-color: rgb(199, 194, 194);
    height: 300px; 

}
.av3{
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: left;
   
    
}
.pagemiddleTop{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.pagemiddleBottom{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 1250px;
    height: 160px;
    background-color:rgb(128, 128, 150);
}
.avv1{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.pagemiddleBottomLeft{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 30px;
}
.pagemiddleBottomRight{
   
    padding-left: 100px;
    margin-top: 10px;
}
.pagebottom{
    display: flex;
    flex: 6;
    background-color: rgb(146, 140, 140);
    height: 80px;
    align-items: center;

}
.av4{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.rightbarfollowingimage2{
    width: 40px;
    height: 20px;
    
    object-fit: cover;
    margin-right: 10px;
}
.rightbarfollowingimage1{
    width: 40px;
    height: 20px;
    
    object-fit: cover;
    margin-right: 10px;
}
.rightbarfollowingname6{
    font-size: 10px;
    font-weight: 300;
    color: black;
    
}
.rightbarfollowingname7{
    font-size: 12px;
    font-weight: 700;
    color:black;
    
}
.rightbarfollowingname8{
    font-size: 16px;
    font-weight: 800;
    color: rgb(43, 43, 116);
    
}
.rightbarfollowingimage4{
    width: 80px;
    height: 80px;
    
    object-fit: cover;
    cursor: pointer;
   
}