.addEmployee{
    flex: 4;
    background-color: rgb(243, 239, 239);
    max-height: 100%;
    
    
}
.employeeForm{
    display: flex;
    flex-wrap: wrap;
    
    
    width: 100%;
    
   
}
.empoyeeTitle{
    margin-left: 30px;
}
.employeeFormItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    
    margin-right: 100px;
    margin-left: 30px;
}
.employeeFormItem>label{

   font-size: 14px;
   font-weight: 600;
   color: rgb(red, green, blue);
}
.employeeFormItem>input{
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.employeeGender>input{
    margin-top: 15px;
}
.employeeGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}
.employeeType>select{
    height: 40px;
    width: 400px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.employeeButton{
    margin-top: 30px;
    margin-right: 500px;
    
    width: 200px;
    border: none;
    padding: 7px 10px;
    background-color: rgb(18, 18, 77);
    font-weight: 600;
    color: wheat;
    border-radius: 10px;
    cursor: pointer;
}
.av{
    display: flex;
    flex-direction: column;
}










